/* |Discord Login Button|
The cuustom styling for the Login with discord button
this adds some hover effect.
*/
.discordlogin {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(.11,.07,.04,.98);
    background-color: rgba(var(--mainrgb), 1.0);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.1);
}

.discordlogin:hover {
    background-color: rgba(var(--mainrgb), 0.5);
}

.selectbtn {
    transition: 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(.11,.07,.04,.98);
    background-color: rgba(var(--mainrgb), 1.0);
}

.selectbtn:hover {
    background-color: rgba(var(--mainrgb), 0.5);
}

.invitebtn {
    transition: 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(.11,.07,.04,.98);
    background-color: rgba(255, 255, 255, 0.2);
}

.invitebtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.login_text {
    text-align: center;
}


@media screen and (min-width: 1024px) {
    .login_text {
        max-width: 300px;
    }
}